# This is an example YAML file. To use it (locally), rename this file to
# "config.yml" and replace the values at will.

# condor
client: 'condor'
start_date: '20001231'
end_date: '20010106' # typically one week after `start_date`
sampling:
  data_count: '1500'
  tagger_count: '2'
  splits: '3'
tagging:
metrics:
  metric:
    baseline: '20171003'
    evaluation:
    - taglevel: 1*
      releases:
      - ComcastSRS-2.19.0
      - ComcastSRS-2.18.0
      - ComcastSRS-2.17.0
      - ComcastSRS-2.16.8
      - ComcastSRS-2.15.0
      - ComcastSRS-2.14.1
      - ComcastSRS-2.9.2
      - ComcastSRS-2.8.3
      - ComcastSRS-2.7.5
      - ComcastSRS-2.6.4
      - ComcastSRS-2.6.4
    - taglevel: 4*
      releases:
      - ComcastSRS-2.19.0
  output_dir: /Users/lisa/ASAPPinc/reports/condor
report:

# spear
client: 'spear'
start_date: '20171105'
end_date: '20171112' # typically one week after `start_date`
sampling:
  data_count: '1200'
  tagger_count: '2'
  splits: '3'